@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anti-Plagiarism University</h1>
    <p class="lead">Never been easier to secure, control and ensure credibility of students assignments.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more »</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Improve Student Writing with Feedback as They Revise</h2>
        <p>Revision is essential to great writing. Help students become better writers with specific, actionable feedback throughout the writing process. Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deliver Feedback that Engages Students and Drives Success</h2>
        <p>Check for potential plagiarism and close the feedback loop between instructors and students. Easily provide feedback to students and assess their work quickly. Engage students with your targeted feedback throughout the writing process.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register Now</h2>
        <p>Get started by registering and setting up your first course. Let students submit their assignments and have control over it.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        
    </div>
</div>